@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #fccbc4;
}

section {
  padding: 30px 9%;
}

.heading {
    background: url(../image/Template.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .heading h1 {
    color: #222;
    font-size: 40px;
    padding-right: 40%;
    padding-top: 3%;
  }
  
  .heading p {
    padding-top: 10px;
    font-size: 20px;
    color: #666;
    padding-right: 40%;
    padding-bottom: 10%;
  
  }

.heading p a {
  color: #222;
  padding-right: 6px;
}

.heading p a:hover {
  color: #f29b92;
}

.title {
  display: flex;
          align-items: center;
  font-size: 25px;
  margin-bottom: 30px;
  padding: 12px 0;
  border-bottom: 1px solid rgba(71, 65, 70, 0.199);
  color: #222;
}

.title span {
  color: #9e716de3;
  padding-left: 8px;
}

.title a {
  margin-left: auto;
  color: #666;
  font-size: 16px;
}

.title a:hover {
  color: #f29b92;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  padding: 8px 30px;
  background: #f29b92;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  border-radius: 15px;
}

.btn:hover {
  background: #222;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgb(255, 243, 243);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
          align-items: center;
          justify-content: space-between;
  padding: 20px 9%;
}

.header .logo {
  font-size: 25px;
  font-weight: bolder;
  color: #222;
}

.header .logo i {
  color: #f29b92;
  padding-right: 6px;
}

.header .navbar a {
  font-size: 17px;
  color: rgb(88, 86, 86);
  margin: 0 10px;
}

.header .navbar a:hover {
  color: #f29b92;
}

.header .icons div {
  font-size: 25px;
  margin-left: 17px;
  cursor: pointer;
  color: #666;
}

.header .icons div:hover {
  color: #f29b92;
}

.header .search-form {
  position: absolute;
  top: -115%;
  right: 20px;
  width: 500px;
  border-radius: 6px;
  display: flex;
          align-items: center;
  height: 50px;
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.header .search-form.active {
  top: 115%;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  padding: 0 12px;
  font-size: 16px;
  color: #222;
  text-transform: none;
}

.header .search-form label {
  font-size: 25px;
  margin-right: 17px;
  cursor: pointer;
  color: #666;
}

.header .search-form label:hover {
  color: #f29b92;
}

.header .shopping-cart {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: 7px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 20px;
}

.header .shopping-cart.active {
  right: 20px;
  transition: .4s linear;
}

.header .shopping-cart .box {
  display: flex;
          align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  position: relative;
}

.header .shopping-cart .box .fa-times {
  position: absolute;
  top: 50%;
  right: 20px;
          transform: translateY(-50%);
  font-size:20px;
  color: #666;
  cursor: pointer;
}

.header .shopping-cart .box .fa-times:hover {
  color: #f29b92;
}

.header .shopping-cart .box img {
  height: 100px;
}

.header .shopping-cart .box .content h3 {
  font-size: 17px;
  padding-bottom: 5px;
  color: #222;
}

.header .shopping-cart .box .content span {
  font-size: 10px;
  color: #666;
}

.header .shopping-cart .box .content span.multiply {
  margin: 0 5px;
}

.header .shopping-cart .total {
  color: #666;
  text-align: center;
  font-size: 20px;
}

.header .shopping-cart .total span {
  color: #222;
}

.header .shopping-cart .btn {
  text-align: center;
  width: 100%;
}

.header .login-form {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: 5px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 20px;
}

.header .login-form.active {
  right: 20px;
  transition: .4s linear;
}

.header .login-form h3 {
  color: #222;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  margin-bottom: 9px;
}

.header .login-form .box {
  margin: 9px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 12px;
  font-size: 15px;
  color: #222;
  text-transform: none;
  width: 100%;
}

.header .login-form .remember {
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin: 7px 0;
}

.header .login-form .remember label {
  font-size: 15px;
  color: #666;
  cursor: pointer;
}

.header .login-form .btn {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.header .login-form p {
  color: #666;
  padding-top: 8px;
  font-size: 15px;
}

.header .login-form p a {
  color: #eb71cc;
}

.header .login-form p a:hover {
  text-decoration: underline;
}

#menu-btn {
  display: none;
}



.home {
  padding-top: 140px;
  background: url(../image/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home .slides-container .slide {
  display: flex;
          align-items: center;
      flex-wrap: wrap;
  gap: 15px;
  display: none;
}

.home .slides-container .slide.active {
  display: flex;
}

.home .slides-container .slide .content {
          flex: 1 1 400px;
}

.home .slides-container .slide .content span {
  color: #666;
  font-size: 25px;
}

.home .slides-container .slide .content h3 {
  font-size: 60px;
  color: #222;
  padding: 6px 0;
}

.home .slides-container .slide .image {
          flex: 1 1 400px;
  margin: 30px 0;
}

.home .slides-container .slide .image img {
  width: 100%;
          animation: fadeUp .4s linear;
}

.home #next-slide,
.home #prev-slide {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  font-size: 30px;
  color: #222;
  cursor: pointer;
}

.home #next-slide:hover,
.home #prev-slide:hover {
  background: #f29b92;
  color: #fff;
}

.home #prev-slide {
  left: 20px;
}

.home #next-slide {
  right: 20px;
}

.banner-container {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 15px;
  }
  
  .banner-container .banner {
    position: relative;
    height: 250px;
    overflow: hidden;
  }
  
  .banner-container .banner:hover img {
            transform: scale(1.2);
  }
  
  .banner-container .banner img {
    height: 100%;
    width: 100%;
       object-fit: cover;
  }
  
  .banner-container .banner .content {
    position: absolute;
    top: 50%;
    left: 20px;
            transform: translateY(-50%);
  }
  
  .banner-container .banner .content span {
    color: #666;
    font-size: 15px;
  }
  
  .banner-container .banner .content h3 {
    font-size: 20px;
    padding-top: 6px;
    color: #222;
  }
  
  .banner-container .banner .content .btn {
    padding: 9px 25px;
  }

  /*SHOP HTML STARTS HERE*/

  .products .box-container {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:15px;
  }
  
  .products .box-container .box {
    position: relative;
    background: #f3f3f3;
    text-align: center;
    overflow: hidden;
  }
  
  .products .box-container .box:hover .icons {
    top: 0;
  }
  
  .products .box-container .box .icons {
    position: absolute;
    top: -105%;
    left: 0;
    height: 300px;
    width: 100%;
    display: flex;
            align-items: center;
            justify-content: center;
    background: rgba(243, 243, 243, 0.8);
    gap: 10px;
  }
  
  .products .box-container .box .icons a {
    font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #666;
  }
  
  .products .box-container .box .icons a:hover {
    background: #f29b92;
    color: #fff;
  }
  
  .products .box-container .box .image {
    height: 300px;
    width: 100%;
    overflow: hidden;
  }
  
  .products .box-container .box .image img {
    height: 100%;
    width: 100%;
       object-fit: cover;
  }
  
  .products .box-container .box .content {
    padding: 15px;
  }
  
  .products .box-container .box .content h3 {
    font-size: 17px;
    color: #222;
  }
  
  .products .box-container .box .content .price {
    font-size: 14px;
    color: #222;
    padding: 10px 0;
  }
  
  .products .box-container .box .content .stars i {
    font-size: 17px;
    color: #f29b92;
  }


  /*About HTML starts here*/ 

  .about {
    display: flex;
            align-items: center;
        flex-wrap: wrap;
    gap: 16px;
  }
  
  .about .image {
            flex: 1 1 400px;
            margin-left: 130px;
  }
  
  .about .image img {
    height: 500px;
  }
  
  .about .content {
            flex: 1 1 400px;
  }
  
  .about .content span {
    color: #f29b92;
    font-size: 26px;
  }
  
  .about .content h3 {
    color: #222;
    font-size: 30px;
    padding-top: 6px;
  }
  
  .about .content p {
    color: #666;
    font-size:14px;
    line-height: 2;
    padding: 10px 0;
  }
  
  .gallery .box-container {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 15px;
  }
  
  .gallery .box-container .box {
    height: 250px;
    overflow: hidden;
    position: relative;
  }
  
  .gallery .box-container .box img {
    height: 100%;
    width: 100%;
       object-fit: cover;
  }
  
  .gallery .box-container .box:hover img {
            transform: scale(1.2);
  }
  /*REVIEW HTML STARTS HERE*/

  
  .info-container {
    display: grid;
    -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 15px;
  }
  
  .info-container .info {
   
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
  }
  
  .info-container .info img {
    height: 70px;
  }
  
  .info-container .info .content h3 {
    font-size: 20px;
    color: #df7a6f;
    padding-bottom: 50px;
  }
  
  .info-container .info .content span {
    font-size: 15px;
    color: #666;
  }
  
  .review {
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 15px;
  }
  
  .review .box {
    padding: 20px;
    border: 1px  solid rgba(0, 0, 0, 0.1);
  }
  
  .review .box .user {
    display: flex;
            align-items: center;
    gap: 15px;
    margin-bottom: 15px;
  }
  
  .review .box .user img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  
  .review .box .user h3 {
    font-size: 22px;
    color: #df7a6f;
  }
  
  .review .box .user span {
    font-size: 14px;
    color: #fff;
  }
  
  .review .box p {
    font-size: 16px;
    color: #666;
    line-height: 2;
  }

  /*FOOTER STARTS HERE*/

.footer {
    background: rgb(255, 243, 243);
  }
  
  .footer .box-container {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
  }
  
  .footer .box-container .box h3 {
    font-size: 22px;
    color: #222;
    padding: 10px 0;
  }
  
  .footer .box-container .box p {
    font-size: 15px;
    color: #666;
    padding-bottom: 5px;
  }
  
  .footer .box-container .box a {
    font-size: 14px;
    color: #666;
    padding: 10px 0;
    display: block;
  }
  
  .footer .box-container .box a:hover {
    color: #f29b92;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 20px;
  }
  
  .footer .box-container .box a i {
    padding-right: 5px;
    color: #f29b92;
  }
  
  .footer .box-container .box form input[type="email"] {
    width: 100%;
    padding: 10px 12px;
    font-size: 17px;
    color: #222;
    margin: 10px 0;
    text-transform: none;
  }
  
  .footer .box-container .box .payment {
    width: 100%;
    margin-top: 20px;
  }
  